table.deathlist tr.header-row {
  cursor: pointer;
}

table.deathlist tr.header-row:hover {
  background-color: rgba(255, 255, 255, 0.05)
}

table.inner tbody tr {
  background-color: rgba(0, 0, 0, 0.1)
}